@model MobileShopping.Entity.Account

@{
    ViewBag.Title = "SignUp";
}

<h2 style="text-align:center;">SignUp</h2>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    <table align="center" ;>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.UserName)</td>

            <td>
                @Html.TextBoxFor(model => model.UserName)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.UserName)
            </td>
            @*<td>
                    @Html.TextBox("UserName")
                    @Html.ValidationMessage("UserName")
                </td>*@
        </tr>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.MailId)</td>

            <td>
                @Html.TextBoxFor(model => model.MailId)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.MailId)
            </td>
            @*<td>@Html.LabelFor(Model => Model.MailId)</td>
                <td>
                    @Html.TextBox("MailId")
                    @Html.ValidationMessage("MailId")
                </td>*@
        </tr>
        <tr>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.Password)</td>

            <td>
                @Html.TextBoxFor(model => model.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Password)
            </td>
            @*<td>@Html.LabelFor(Model => Model.Password)</td>
                <td>
                    @Html.TextBox("Password")
                    @Html.ValidationMessage("Password")
                </td>*@
        </tr>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.Gender)</td>
            <td>
                @Html.RadioButtonFor(m => m.Gender, "Male")Male
                @Html.RadioButtonFor(m => m.Gender, "Female")Female
                @Html.RadioButtonFor(m => m.Gender, "Other")Others
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Gender)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.Age)</td>

            <td>
                @Html.TextBoxFor(model => model.Age)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.Age)
            </td>
            @*<td>@Html.LabelFor(Model => Model.Age)</td>
                <td>
                    @Html.TextBox("Age")
                    @Html.ValidationMessage("Age")
                </td>*@
        </tr>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.MobileNo)</td>

            <td>
                @Html.TextBoxFor(model => model.MobileNo)
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.MobileNo)
            </td>
            @*<td>@Html.LabelFor(Model => Model.MobileNo)</td>
                <td>
                    @Html.TextBox("MobileNo")
                    @Html.ValidationMessage("MobileNo")
                </td>*@
        </tr>
        <tr>
            <td style="text-align:right" ;> @Html.LabelFor(model => model.City)</td>
            <td>
                @Html.DropDownList("City", new List<SelectListItem>
           {
                 new SelectListItem{Text="Chennai",Value="1"},
                 new SelectListItem{Text="Coimbatore",Value="2"},
                 new SelectListItem{Text="Madurai",Value="3"},

          }, "Select city")
            </td>
            <td>
                @Html.ValidationMessageFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="SignUp" />
            </td>
            <td>
                <a href="~/Account">Login</a>
            </td>
        </tr>
    </table>
}
